<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册 - {$Think.config.SITE_TITLE}</title>
	<meta name="key" content="{$Think.config.SITE_KEY}">
	<meta name="description" content="{$Think.config.SITE_DESC}">
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
	</style>
	<link rel="shortcut icon" href="__ROOT__/Public/Theme/Common/images/logo.png">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/common.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/log.css">

	<script src="__ROOT__/Plugin/jquery.min.js"></script>
	<script type="text/javascript">
		ROOT 	= "__ROOT__";
		INDEX 	= "__ROOT__/index.php";
	</script>
	<script src="__ROOT__/Public/Theme/Common/js/AccountManager.js"></script>
	<script src="__ROOT__/Public/Theme/Common/js/CommonUI.js"></script>
</head>
<body>
<div class="header">
	<div class="header-main">
		<ul class="nav">
			<li><a href="javascript:;" class="title">{$Think.config.SITE_TITLE}</a></li>
			<li>
				<a href="javascript:;" onmouseover="CommonUI().zfbPanelShow();" onmouseout="CommonUI().zfbPanelHide();">赞助我们</a>
				<div class="hover-content zfb"><i></i>
					<img class="logo" src="__ROOT__/Public/Theme/Common/images/logo.png" alt="">
					<h1>{$Think.config.SITE_AUTHOR}</h1>
					<p>{$Think.config.SITE_SUBTITLE}</p>
					<img class="ewm" src="__ROOT__/Public/Theme/Common/images/qr.png" alt="">
					<p class="is">- 支付宝 -</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<ul class="rotate">
		<li class="rotate-item"></li>
	</ul>
	<div class="log-panel">
		<div class="form">
			<div class="form-option">
				<a href="javascript:;" onclick="CommonUI().logOptShow(this);" class="unchoosen">登录</a>
				<a href="javascript:;" onclick="CommonUI().regOptShow(this);">注册</a>
			</div>
			<div class="form-login" style="display: none;">
				<div class="row">
					<label for="user">邮箱</label>
					<input type="text" id="user" placeholder="邮箱">
				</div>
				<div class="row">
					<label for="password">登录密码</label>
					<input type="password" id="password" placeholder="登录密码">
				</div>
				<div class="row short">
					<a href="javascript:;" class="btn-forget">忘记密码</a>
					<em class="tip"></em>
				</div>
				<input type="button" id="login" onclick="CommonUI().login();" value="登录">
			</div>
			<div class="form-reg" style="display: block;">
				<div class="row">
					<label for="mail">邮箱</label>
					<input type="text" id="mail" placeholder="邮箱">
				</div>
				<div class="row">
					<label for="vertify">验证码</label>
					<input type="text" id="vertify" placeholder="验证码">
					<input type="button" id="get_vertify" onclick="CommonUI().getVertify();" value="发送验证码">
				</div>
				<div class="row">
					<label for="password">登录密码</label>
					<input type="password" id="pwd" placeholder="登录密码(6-20位)">
				</div>
				<div class="row short">
					<em class="tip"></em>
				</div>
				<input type="button" id="reg" onclick="CommonUI().reg();" value="注册">
			</div>
			
		</div>
	</div>
</div>

<div class="footer">
	<volist name="Think.config.SITE_LINKS" id="item">
	<a href="{$item.url}">{$item.title}</a>
	</volist>
	<div class="copyright">
		<a href="javascript:;">Copyright © 2017-2018</a>
		<a href="javascript:;">{$Think.config.SITE_TITLE} Made By {$Think.config.SITE_AUTHOR}</a>
	</div>
</div>

</body>
</html>