<div class="row">
	<ul>
		<li>
			<a href="javascript:;">
				<span class="value">{$user.total}</span>
				<span class="key">总用户数</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="value">{$book.total}</span>
				<span class="key">总图书数</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="value">{$order.total}</span>
				<span class="key">总订单数</span>
			</a>
		</li>
	</ul>
</div>
<div class="row">
	<ul>
		<li>
			<a href="javascript:;">
				<span class="value">{$propose.post_tswk}</span>
				<span class="key">本周留言数</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="value">{$user.reg_tswk}</span>
				<span class="key">本周注册量</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="value">{$order.order_tswk}</span>
				<span class="key">本周订单量</span>
			</a>
		</li>
	</ul>
</div>