<div class="data">
	<table cellspacing="0">
		<tr>
			<th><input type="checkbox" name="choose"></th>
			<th>留言ID</th>
			<th>用户ID</th>
			<th>留言标签</th>
			<th>留言内容</th>
			<th>留言时间</th>
		</tr>
	</table>
</div>
<div class="opt-panel">
	<a href="javascript:;" onclick="AdminUI().toggleAdapter()">回复</a>
	<a href="javascript:;">删除</a>
</div>
<div id="data-adapter">
	<table cellspacing="0">
		<tr>
			<th>目标用户ID</th>
			<th>消息</th>
			<th>操作</th>
		</tr>
		<tr>
			<td>1</td>
			<td><textarea placeholder="Message Here"></textarea></td>
			<td><a href="javascript:;">发送</a></td>
		</tr>
	</table>
</div>
</div>