<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$Think.config.SITE_TITLE} - {$Think.config.SITE_AUTHOR}出品</title>
	<meta name="key" content="{$Think.config.SITE_KEY}">
	<meta name="description" content="{$Think.config.SITE_DESC}">
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
	</style>
	<link rel="shortcut icon" href="__ROOT__/Public/Theme/Common/images/logo.png">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/common.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/index.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/player.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Theme/Common/css/progress.min.css">

	<script src="__ROOT__/Plugin/jquery.min.js"></script>
	<script src="__ROOT__/Plugin/progress.min.js"></script>
	<script type="text/javascript">
		ROOT 	= "__ROOT__";
		INDEX 	= "__ROOT__/index.php";
	</script>

	<script src="__ROOT__/Public/Theme/Common/js/AjaxItemsGetter.js"></script>
	<script src="__ROOT__/Public/Theme/Common/js/AccountManager.js"></script>
	<script src="__ROOT__/Public/Theme/Common/js/CommonUI.js"></script>
	<script src="__ROOT__/Public/Theme/Common/js/IndexUI.js"></script>

	<script type="text/javascript">
		$(function(){

			IndexUI().setProgress(progressJs('.waterfall-main')); 

			IndexUI().getCateItems(); 
			IndexUI().initAjaxGetter()
			IndexUI().getGoodsItems();

			// 动态刷新页面
			$(".waterfall-main").bind("scroll", function(){
				var viewH = $(this).height(),
					contentH = $(this).get(0).scrollHeight,
					scrollTop = $(this).scrollTop();
				if(contentH - viewH - scrollTop == 0) {
					// 下拉刷新
					IndexUI().getGoodsItems();
				}  
			});
		});
	</script>
</head>
<body>
<div class="header">
	<div class="header-main">
		<ul class="nav">
			<li><a href="javascript:;" class="title">{$Think.config.SITE_TITLE}</a></li>
			<li>
				<a href="javascript:;" onmouseover="CommonUI().zfbPanelShow();" onmouseout="CommonUI().zfbPanelHide();">赞助我们</a>
				<div class="hover-content zfb"><i></i>
					<img class="logo" src="__ROOT__/Public/Theme/Common/images/logo.png" alt="">
					<h1>{$Think.config.SITE_AUTHOR}</h1>
					<p>{$Think.config.SITE_SUBTITLE}</p>
					<img class="ewm" src="__ROOT__/Public/Theme/Common/images/qr.png" alt="">
					<p class="is">- 支付宝 -</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="index">
		<div class="index-main">
			<ul class="nav">
				<li><a href="javascript:;" class="title">{$Think.config.SITE_TITLE}</a></li>
				<if condition="$user_type eq 'admin'">
					<li><a href="{:U('/Admin/Index')}">后台管理</a></li>
				</if>
			</ul>
			<div class="user-panel">
				<if condition="$Think.session.mail neq null">
					<a href="javascript:;">余额(<span class="num">{$pocket}g</span>)</a>
					<!-- <a href="javascript:;">消息(<span class="num">{$message_list|count}</span>)</a> -->
					<a href="javascript:;" class="uname">
						{$Think.session.mail|substr=0,30}
						<span class="logout" onclick="CommonUI().logout();">注销</span>
					</a>
				<else />
					<a href="{:U('/User/Login')}">登录</a>
					<a href="{:U('/User/Reg')}">注册</a>
				</if>
			</div>
			<div class="form-search">
				<input type="text" id="key" placeholder="书名/作者">
				<a href="javascript:;" id="search" onclick="IndexUI().setSearchRule();"></a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="category-main">
			<ul class="ucate">
				<li><a href="javascript:;" onclick="IndexUI().changeMovieGettingRule(this);" rank-type="all" class="choosen default">所有分类</a></li>
				<li><a href="javascript:;" onclick="IndexUI().changeMovieGettingRule(this);" rank-type="record">我的书架</a></li>
			</ul>
			<span>分类</span>
			<ul class="cate"></ul>
		</div>
		<div class="waterfall-main">
			<ul class="movie-list"></ul>
		</div>
	</div>
</div>

<div class="footer">
	<volist name="Think.config.SITE_LINKS" id="item">
	<a href="{$item.url}">{$item.title}</a>
	</volist>
	<div class="copyright">
		<a href="javascript:;">Copyright © 2017-2018</a>
		<a href="javascript:;">{$Think.config.SITE_TITLE} Made By {$Think.config.SITE_AUTHOR}</a>
	</div>
</div>
</body>
</html>